* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}

h1 {
  margin-top: 0;
  margin-bottom: 5vmin;
  border: 2px solid black;
  padding: 10px;
  text-shadow: 2px 2px #000;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 20vmin);
  grid-template-rows: repeat(3, 20vmin);
  background-color: lightgrey;
  background-image: url('https://i.imgur.com/Z7YOfiS.png');
  background-size: cover;
  border-radius: 5vmin;
  z-index: 2
}

#board > div {
  margin: 3vmin;
  background-color: white;
  border: 1vmin solid white;
  border-radius: 50%;
}

#board > div.avail {
  cursor: pointer;
}

#board > div.avail:hover {
  border-color: grey;
}

#avatar {
  position: absolute;
  width: 70%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1
}

#avatar.left {
  left: -120px;
}

#avatar.right {
  right: -70%
}

button {
  margin-top: 5vmin;
  padding: 1.5vmin;
  background-color: grey;
  color: white;
  border-radius: 2vmin;
  font-size: 4vmin;
}

button img {
  display: inline-block;
  width: 2.5vmin;
  height: 2.5vmin;
  margin-right: 0.5vmin;
  vertical-align: middle;
}

button:disabled {
  background-color: lightgrey;
  color: darkgrey;
}

button:hover:not(:disabled) {
  background-color: white;
  color: grey;
}

.start-modal {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.start-modal-content {
  position: absolute;
  width: 30%;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#start-button {
  padding: 1rem 2rem;
  background-color: grey;
  color: white;
  border-radius: 2vmin;
  font-size: 4vmin;
  animation: blink is infinite;
  cursor: pointer
}

#start-button:hover {
  background-color: white;
  color: grey;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#play-again-modal {
  position: absolute;
  z-index: 3;
}

.play-again-modal {
  display: none; /* hide the modal by default */
  position: fixed; /* position the modal relative to the viewport */
  z-index: 3; /* make sure the modal is on top of everything else */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* semi-transparent background */
}

.play-again-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* center the modal vertically and horizontally */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  text-align: center;
}



#play-again-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  margin: auto;
  display: block;
  cursor: pointer;
}

#play-again-button:hover {
  background-color: #3e8e41;
}
